Options -Indexes

# Redirigir nuevoestilofuengirola.com → gimnasionuevoestilo.com
RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)?nuevoestilofuengirola\.com$ [NC]
RewriteRule ^(.*)$ https://gimnasionuevoestilo.com/$1 [R=301,L]
